/* ROOT */
:root {
  --padding: 24px;
  /* var(--padding) */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-red: #ff0000;
  --color-gray: #BEBEBE;
  --color-dark-gray: #585858;
}

/* INITIAL RULES */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;

}

body {
  margin: 0;

  background-color: var(--color-white);
  color: var(--color-black);
  font-family: Arial, Helvetica, sans-serif;
}


/* FONT */
h1 {
  margin: 0;
  font-size: 12rem;
  line-height: 15rem;
}

h2 {
  margin: 0;
  font-size: 2.5rem;
  line-height: 3.75rem;
  font-weight: 700;
}

h3 {
  margin: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

h4 {
  margin: 0;
  font-size: 1.25rem; 
  line-height: 2.5rem; 
  font-weight: 600;
}

p {
  font-size: 1rem; 
  line-height: 1.5rem; 
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}

a {
  font-size: 1rem; 
  line-height: 1.5rem; 
  text-decoration: none;
  color: var(--color-white);
}

a:hover {
  text-decoration: underline;
  color: var(--color-white);
}

.a-button {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-black);
  padding: var(--padding);
  width: auto;
}

.a-button:hover {
  text-decoration: none;
  color: var(--color-red);
}




/* HEADER / NAVIGATION */
header {
  margin: 0;
  width: 100%;
  height: 100px;
  padding: var(--padding);

  z-index: 1;

  position: sticky;
  top: 0;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: baseline;

  background-color: var(--color-white);
}

nav ul {
  display: flex;
  list-style: none;

  position: absolute;

  height: 100px;
  width: 800px;
  left: 1096px;
  top: 10px;
}


/* HERO */

.grid {
  display: grid;
  grid-template-columns: repeat(19, 100px);
  grid-template-rows: repeat(10, 100px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.gray-square-small {
  grid-area: 2 / 2 / 3 / 3;
  background-color: var(--color-gray);
}

.gray-square-big {
  grid-area: 9 / 2 / 11 / 4;
  background-color: var(--color-gray);
}

.red-circle {
  grid-area: 4 / 4 / 9 / 9;
  background-color: var(--color-red);
  border-radius: 100%;
}

.gray-semicircle-1 {
  grid-area: 9 / 9 / 11 / 11;
  background-color: var(--color-gray);
  border-radius: 0 0 100% 0;
}

.gray-semicircle-2 {
  grid-area: 7 / 9 / 9 / 11;
  background-color: var(--color-gray);
  border-radius: 100% 0 0 0;
}

.gray-semicircle-3 {
  grid-area: 5 / 9 / 7 / 11;
  background-color: var(--color-gray);
  border-radius: 0 0 0 100%;
}

.gray-semicircle-4 {
  grid-area: 3 / 9 / 5 / 11;
  background-color: var(--color-gray);
  border-radius: 0 100% 0 0;
}

.gray-semicircle-7 {
  grid-area: 9 / 18 / 11 / 20;
  background-color: var(--color-gray);
  border-radius: 100% 0 0 0;
}

.gray-circle {
  grid-area: 3 / 17 / 5 / 19;
  background-color: var(--color-gray);
  border-radius: 100%;
}

.gray-semicircle-5 {
  grid-area: 9 / 11 / 11 / 13;
  background-color: var(--color-gray);
  border-radius: 0 0 100% 0;
}

.gray-semicircle-6 {
  grid-area: 9 / 9 / 11 / 11;
  background-color: var(--color-gray);
  border-radius: 0 0 0 100%;
}

.grid-paragraph {
  grid-area: 7 / 12 / 9 / 17;
}

.grid-title {
  grid-area: 4 / 12 / 6 / 17;
}

/* HOMEPAGE CONTENT */

.content {
  padding: var(--padding);
}

/* HOMEPAGE OVERLAY */

.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.works [class^="work-"],
.works [class^="work-"]:hover {
  position: relative;
  width: 555px;
  transition: transform 0.3s ease;
}

.works [class^="work-"]:hover {
  transform: scale(1.1);
}

.works [class^="work-"]::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.works [class^="work-"]:hover::before,
.works .work-cards::before {
  opacity: 1;
}


/* HOMEPAGE FILTERS */

.filters {
  padding: var(--padding);
  border-radius: var(--padding);
  display: inline-block;
}

.filters span {
  font-weight: bold;
}

.filters ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.filters li {
  margin-right: 10px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: var(--padding);
  background-color: var(--color-gray);
  transition: background-color 0.3s ease;
}

.filters li:hover,
.filters li.active {
  background-color: var(--color-dark-gray);
  color: var(--color-white);
}

/* ABOUT ME SECTION */

.about-me-section {
  display: grid;
  padding: var(--padding);
  margin: var(--padding);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 200px repeat(3, 1fr);
  grid-column-gap: var(--padding);
  grid-row-gap: var(--padding);
}

.about-me {
  grid-area: 1 / 1 / 2 / 3;
  padding: var(--padding);
}

.work-experience {
  grid-area: 2 / 1 / 3 / 2;
  padding: var(--padding);
}

.education {
  grid-area: 2 / 2 / 3 / 3;
  padding: var(--padding);
}

.languages {
  grid-area: 4 / 1 / 5 / 2;
  padding: var(--padding);
}

.computer-languages {
  grid-area: 4 / 2 / 5 / 3;
  padding: var(--padding);
}

.skills {
  grid-area: 3 / 1 / 4 / 2;
  padding: var(--padding);
}

.softwares {
  grid-area: 3 / 2 / 4 / 3;
  padding: var(--padding);
}


/* FOOTER */
footer {
  width: 100%;
  padding: var(--padding);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-dark-gray);
  color: var(--color-white);
  transition: transform 0.3s ease-out;
}

.footer-grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  grid-column-gap: var(--padding);
  grid-row-gap: var(--padding);
}

.footer-about {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
}

.footer-contact {
  grid-area: 1 / 2 / 2 / 3;
  justify-self: center;
}

.footer-copyright {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
}

.footer-socials {
  grid-area: 1 / 3 / 2 / 4;
  justify-self: end;
  padding: var(--padding);
}