/* ROOT */
:root {
  --padding: 24px;
  /* var(--padding) */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-red: #ff0000;
  --color-gray: #BEBEBE;
  --color-dark-gray: #585858;
}

/* INITIAL RULES */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  background-color: var(--color-white);
  color: var(--color-black);
  font-family: Arial, Helvetica, sans-serif;
}

/* FONT */
h1 {
  margin: 0;
  font-size: 200px;
  line-height: 250px;

}

h2 {
  margin: 0;
  font-size: 40px;
  line-height: 60px;
  font-weight: 700;
}

h3 {
  margin: 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

h4 {
  margin: 0;
  font-size: 20px;
  line-height: 40px;
  font-weight: 600;
}

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;

  text-transform: none;
  text-decoration: none;
}

a {
  font-size: 16px;
  line-height: 24px;

  text-decoration: none;
  color: var(--color-white);
}

a:hover {
  text-decoration: underline;
  color: var(--color-white);
}

.a-button {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;

  text-decoration: none;
  color: var(--color-black);

  padding: 8px 16px;
  width: auto;
}

.a-button:hover {
  text-decoration: none;
  color: var(--color-red);
}



/* HEADER / NAVIGATION */
header {
  margin: 0;
  width: 100%;
  height: 100px;
  padding: var(--padding);

  z-index: 1;

  position: sticky;
  top: 0;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: baseline;

  background-color: var(--color-white);
}

nav ul {
  display: flex;
  list-style: none;

  position: absolute;

  height: 100px;
  width: 800px;
  left: 1096px;
  top: 10px;
}


/* HERO */

.grid {
  display: grid;
  grid-template-columns: repeat(19, 100px);
  grid-template-rows: repeat(10, 100px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 2 / 2 / 3 / 3;
  background-color: var(--color-gray);
}

.div2 {
  grid-area: 9 / 2 / 11 / 4;
  background-color: var(--color-gray);
}

.div3 {
  grid-area: 4 / 4 / 9 / 9;
  background-color: var(--color-red);
  border-radius: 100%;

}

.div4 {
  grid-area: 9 / 9 / 11 / 11;
  background-color: var(--color-gray);
  border-radius: 0 0 100% 0;
}

.div5 {
  grid-area: 7 / 9 / 9 / 11;
  background-color: var(--color-gray);
  border-radius: 100% 0 0 0;
}

.div6 {
  grid-area: 5 / 9 / 7 / 11;
  background-color: var(--color-gray);
  border-radius: 0 0 0 100%;
}

.div7 {
  grid-area: 3 / 9 / 5 / 11;
  background-color: var(--color-gray);
  border-radius: 0 100% 0 0;
}

.div8 {
  grid-area: 9 / 18 / 11 / 20;
  background-color: var(--color-gray);
  border-radius: 100% 0 0 0;
}

.div9 {
  grid-area: 3 / 17 / 5 / 19;
  background-color: var(--color-gray);
  border-radius: 100%;
}

.div10 {
  grid-area: 9 / 11 / 11 / 13;
  background-color: var(--color-gray);
  border-radius: 0 0 100% 0;
}

.div11 {
  grid-area: 9 / 9 / 11 / 11;
  background-color: var(--color-gray);
  border-radius: 0 0 0 100%;
}


.grid-paragraph {
  grid-area: 7 / 12 / 9 / 17;
}

.grid-title {
  grid-area: 4 / 12 / 6 / 17;
}

/* HOMEPAGE CONTENT */

.content {
  padding: var(--padding);
}

/* HOMEPAGE OVERLAY */

.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.works .work-etro,
.works .work-genesis,
.works .work-aplhabet,
.works .work-voice,
.works .work-wunderkit,
.works .work-horizon,
.works .work-dream,
.works .work-tinguely,
.works .work-cards {
  position: relative;
  width: 555px;
  transition: transform 0.3s ease;
}

.works .work-etro:hover,
.works .work-genesis:hover,
.works .work-aplhabet:hover,
.works .work-voice:hover,
.works .work-wunderkit:hover,
.works .work-horizon:hover,
.works .work-dream:hover,
.works .work-tinguely:hover,
.works .work-cards:hover {
  transform: scale(1.1);
}

.works .work-etro::before,
.works .work-genesis::before,
.works .work-aplhabet::before,
.works .work-voice::before,
.works .work-wunderkit::before,
.works .work-horizon::before,
.works .work-dream::before,
.works .work-tinguely::before,
.works .work-cards:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.works .work-etro:hover::before,
.works .work-genesis:hover::before,
.works .work-aplhabet:hover::before,
.works .work-voice:hover::before,
.works .work-wunderkit:hover::before,
.works .work-horizon:hover::before,
.works .work-dream:hover::before,
.works .work-tinguely:hover::before,
.works .work-cards:before {
  opacity: 1;
}




/* HOMEPAGE FILTERS */

.filters {
  display: flex;
  align-items: baseline;
  list-style: none;

  margin: 0;
  width: 100%;
  height: 100px;
  padding: var(--padding);

  display: flex;
  flex-direction: row;
}

.filters ul {
  display: flex;
  list-style: none;

}

.filters li {
  margin-right: 10px;
}

.filters li:last-child {
  margin-right: 0;
}


/* ABOUT ME SECTION */

.about-me-section {
  display: grid;
  padding: var(--padding);
  margin: var(--padding);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 200px repeat(3, 1fr);
  grid-column-gap: var(--padding);
  grid-row-gap: var(--padding);
}

.about-me {
  grid-area: 1 / 1 / 2 / 3;
  padding: var(--padding);
}

.work-experience {
  grid-area: 2 / 1 / 3 / 2;
  padding: var(--padding);
}

.education {
  grid-area: 2 / 2 / 3 / 3;
  padding: var(--padding);
}

.languages {
  grid-area: 4 / 1 / 5 / 2;
  padding: var(--padding);
}

.computer-languages {
  grid-area: 4 / 2 / 5 / 3;
  padding: var(--padding);
}

.skills {
  grid-area: 3 / 1 / 4 / 2;
  padding: var(--padding);
}

.softwares {
  grid-area: 3 / 2 / 4 / 3;
  padding: var(--padding);
}


/* FOOTER */
footer {
  width: 100%;
  padding: var(--padding);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-dark-gray);
  color: var(--color-white);
}

.footer-grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  grid-column-gap: var(--padding);
  grid-row-gap: var(--padding);
}

.footer-about {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
}

.footer-contact {
  grid-area: 1 / 2 / 2 / 3;
  justify-self: center;
}

.footer-copyright {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
}

.footer-socials {
  grid-area: 1 / 3 / 2 / 4;
  justify-self: end;
  padding: var(--padding);
}